<html>
    <head>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class-"col-md-6 col-md-offset-3">
                    <% @competitions.each do |c| %>
                    <ul class="list-unstyled">
                        <% if c %>
                            <li class="well row text-center">
                                <div>
                                    <%= link_to c.title, c %>
                                        
                                </div>
                            </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>