<html>
    <head>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class-"col-md-6 col-md-offset-3">
                    <% @scoresheets.each do |scoresheet| %>
                    <ul class="list-unstyled">
                        <% if scoresheet %>
                            <li class="well row text-center">
                                <div>
                                    <%= link_to scoresheet.judge, competition_scoresheet_path(@competition, scoresheet) %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>