<html>
    <head>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Placeholder</h1>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Judge <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        
                        <li>Judge</li>
                        
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>