// Place all the styles related to the scoresheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 400;
    clear: right;
    text-align: center;
}

label {
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

a {
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

p {
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

label {
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}