// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-area {
    clear: right;
    text-align: center
    ;
}

h1 {
    clear: right;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}